@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 66, 66, 69;
  --background-rgb: 243, 244, 246;
  --accent-rgb: 255, 196, 3;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 